<div class="search-bar">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Ex: Picachu" [formControl]="search" />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <button mat-fab color="primary" matTooltip="Add a new deck">
    <mat-icon>add_box</mat-icon>
  </button>
</div>

<div class="result">
  <app-deck-box
    *ngFor="let deck of deckList"
    (delete)="deleteItem($event)"
    [name]="deck.name"
    [id]="deck.id"
  ></app-deck-box>
</div>
