<div class="search-bar">
  <app-search (searchEvent)="search($event)"></app-search>

  <button
    (click)="saveDeck()"
    mat-fab
    color="primary"
    matTooltip="Save a new deck"
  >
    <mat-icon>save</mat-icon>
  </button>
</div>

<div class="result">
  <div class="cards">
    <app-card-box
      (addEvent)="addCard($event)"
      *ngFor="let card of cards"
      [card]="card"
    ></app-card-box>
  </div>

  <div class="panel">
    <mat-form-field appearance="outline">
      <mat-label>Deck Name</mat-label>
      <input matInput placeholder="Ex: My Deck" [(ngModel)]="myDeck.name" />
    </mat-form-field>

    <mat-list>
      <mat-list-item *ngFor="let card of myDeck.cards">
        <app-input-card
          (removeEvent)="removeCard($event)"
          [card]="card"
        ></app-input-card>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
