.search-bar {
  display: flex;
  margin: 1rem;

  justify-content: center;

  app-search {
    min-width: 50%;
    margin-right: 1rem;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  app-card-box {
    margin: 1rem;
  }
}

.result {
  display: grid;
  grid-template-columns: 75% 25%;
}

app-input-card {
  width: 100%;
}
